<div class="createPost">
  <mat-card>
    <form #savePostForm="ngForm">
      <mat-form-field>
        <input type="text"
        matInput
        [ngModel] = "editablePost?.title"
        name="postTitle"
        #title = "ngModel"
        placeholder="Title"
        required/>
        <mat-error *ngIf="title.invalid">
          Please enter a title
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput rows="6"
        name="postContent"
        [ngModel] = "editablePost?.content"
        #content = "ngModel"
        required
        placeholder="Content">
        </textarea>
        <mat-error *ngIf="content.invalid">
          Please enter some content
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="onSavePost(savePostForm)">
        {{buttonContent}}
      </button>
    </form>
  </mat-card>
</div>
