mat-card{
  width: 80%
}

mat-form-field{
  width: 100%
}

textarea{
  width: 100%
}

:host{
  margin-top: 20px;
  display: block;
  margin-left: 20px;
}

button{
  margin-top: 20 px;
}

.createPost{
  padding-top: 3rem;
  padding-left: 10rem;
}

mat-spinner{
  margin:auto;
}

input[type="file"]{
  visibility: hidden;
}

.imagePreview{
  height: 5rem;
  margin: 1rem 0;
}

.imagePreview img{
  height: 100%;
}
