<div class="createPost">
  <mat-card>
    <mat-spinner *ngIf="!pageLoaded"></mat-spinner>
    <form [formGroup]="postForm" *ngIf="pageLoaded">
      <mat-form-field>
        <input type="text"
        matInput
        formControlName="title"
        placeholder="Title"/>
        <mat-error *ngIf="postForm.get('title').invalid">
          Please enter a title
        </mat-error>
      </mat-form-field>
      <div>
        <button type="button" mat-stroked-button (click)="imageUpload.click()">Upload Image</button>
        <input type="file" #imageUpload  (change)="onImagePicked($event)"/>
      </div>
      <div class="imagePreview" *ngIf="imgPreview!='' && imgPreview!=null &&
          postForm.get('image').valid">
        <img [src]="imgPreview" [alt]="postForm.value.title">
      </div>
      <mat-error *ngIf="postForm.get('image').invalid">
        Please select a valid image file
      </mat-error>
      <mat-form-field>
        <textarea matInput rows="6"
        formControlName="content"
        placeholder="Content">
        </textarea>
        <mat-error *ngIf="postForm.get('content').invalid">
          Please enter some content
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="onSavePost()">
        {{buttonContent}}
      </button>
    </form>
  </mat-card>
</div>
